{% extends 'djtest3app/base.html' %}
{% block content %}
<div class="card" style="width: 18rem;">
  <img src="{{ recipe.image_recipe.url }}" class="card-img-top" alt="{{ recipe.name_recipe }}">
  <div class="card-body">
    <h5 class="card-title">{{ recipe.name_recipe }}</h5>
    <p class="card-text">{{ recipe.description_recipe }}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{ recipe.cooking_steps}}</li>
    <li class="list-group-item">Время приготовления {{ recipe.cooking_time }}</li>
  </ul>
    <div class="card-body">
        {% if user.is_authenticated %}
    <a href="{% url 'update_recipe' recipe.id %}" class="card-link">Редактировать</a>
        {% endif %}
  </div>
</div>
{% endblock %}